@model DND_App.Web.Models.ViewModels.CharacterRequest
@{
}
<div class="bg-primary bg-opacity-10 py-5">
    <div class="container">
        <h1>Create your character</h1>
    </div>
</div>

<div class="container py-3">
    <form asp-action="Create" method="post">
        <div>
            <label asp-for="CharacterName"></label>
            <input asp-for="CharacterName" />
            <span asp-validation-for="CharacterName"></span>
        </div>

        <div>
            <label>Class</label>
            <select asp-for="CharacterClassId">
                @foreach (var c in ViewBag.Classes)
                {
                    <option value="@c.Id">@c.Name</option>
                }
            </select>
        </div>

        <div>
            <label>Race</label>
            <select asp-for="CharacterRaceId">
                @foreach (var r in ViewBag.Races)
                {
                    <option value="@r.Id">@r.Name</option>
                }
            </select>
        </div>

        <div>
            <label asp-for="Strength"></label>
            <input asp-for="Strength" />
            <span asp-validation-for="Strength"></span>
        </div>
        <div>
            <label asp-for="Dexterity"></label>
            <input asp-for="Dexterity" />
            <span asp-validation-for="Dexterity"></span>
        </div>
        <div>
            <label asp-for="Constitution"></label>
            <input asp-for="Constitution" />
            <span asp-validation-for="Constitution"></span>
        </div>
        <div>
            <label asp-for="Intelligence"></label>
            <input asp-for="Intelligence" />
            <span asp-validation-for="Intelligence"></span>
        </div>
        <div>
            <label asp-for="Wisdom"></label>
            <input asp-for="Wisdom" />
            <span asp-validation-for="Wisdom"></span>
        </div>
        <div>
            <label asp-for="Charisma"></label>
            <input asp-for="Charisma" />
            <span asp-validation-for="Charisma"></span>
        </div>
        <div>
            <label asp-for="Level"></label>
            <input asp-for="Level" />
            <span asp-validation-for="Level"></span>
        </div>
        <div>
            <label asp-for="ExperiencePoints"></label>
            <input asp-for="ExperiencePoints" />
            <span asp-validation-for="ExperiencePoints"></span>
        </div>
        <div>
            <label asp-for="PassiveWisdom"></label>
            <input asp-for="PassiveWisdom" />
            <span asp-validation-for="PassiveWisdom"></span>
        </div>
        <div>
            <label asp-for="Inspiration"></label>
            <input asp-for="Inspiration" type="checkbox" />
            <span asp-validation-for="Inspiration"></span>
        </div>
        <div>
            <label asp-for="ProficiencyBonus"></label>
            <input asp-for="ProficiencyBonus" />
            <span asp-validation-for="ProficiencyBonus"></span>
        </div>
        <div>
            <label asp-for="ArmorClass"></label>
            <input asp-for="ArmorClass" />
            <span asp-validation-for="ArmorClass"></span>
        </div>
        <div>
            <label asp-for="Speed"></label>
            <input asp-for="Speed" />
            <span asp-validation-for="Speed"></span>
        </div>

        <button type="submit">Create</button>
    </form>
</div>
